<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <mat-icon>assignment_ind</mat-icon>
        Feedback</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <br />
            <mat-card>
                <div class="card-header">
                    <h5 class="text-center">Feedback Form</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="feedbackForm" class="form" (ngSubmit)="submitForm()">
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Name of Educator</mat-label>
                                <input matInput placeholder="Placeholder" formControlName="empName" />
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Course Name</mat-label>
                                <mat-select formControlName="courseOpted">
                                    <mat-option *ngFor="let course of courses" [value]="course.name">
                                        {{ course.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="outline" class="example-full-width">
                                <mat-label>Rate the Educator</mat-label>
                                <input type="number" minimum="1" maximum="5" formControlName="rating" matInput placeholder="Placeholder" />
                                <mat-hint>Hint:Maximum 5; Minimum 1</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Comments</mat-label>
                                <textarea matInput formControlName="comments"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="form-group text-center">
                            <button mat-raised-button type="submit">Submit</button>
                        </div>
                    </form>
                    <div *ngIf="successMessage" class="text-success text-center">
                        <h5>{{ successMessage }}</h5>
                    </div>
                    <div *ngIf="errorMessage" class="text-danger text-center">
                        <h5>{{ errorMessage }}</h5>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>